/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #333333;
  --color-light: #efefef;

  --color-primary: #0d9b01;
  --color-secondary: #fff56e;
  /* initial type scale with https://typescale.com/, "Major Third" */
  /* check out https://utopia.fyi/,  */ 
  /* "Major Third" scale for small view ports, but a larger “Perfect Fourth” scale on larger viewports.  */ 
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);

  --space: 1.5rem;
  --s1: 1em;
  --border-thin: 2px;

  /* font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; */
  font-family: system-ui, sans-serif;
  /* // font-family: 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; */
}

h1 {
  line-height: 1.4;
}

.box {
    --s1: 1em;
    /* ↓ Padding set to the first point on the modular scale */
    padding: var(--s1);
    /* ↓ Assumes you have a --border-thin var */
    /* border: var(--border-thin) solid; */
    /* ↓ Always apply the transparent outline, for high contrast mode */
    outline: var(--border-thin) transparent;
    outline-offset: calc(var(--border-thin) * -1);
    /* ↓ The light and dark color vars */
    --color-light: #fff;
    --color-dark: #000;
    color: var(--color-dark);
    background-color: var(--color-light);
  }
  
.box * {
  /* ↓ Force colors to inherit from the parent and honor inversion (below) */
  color: inherit;
}

.center {
  --max-width: 70ch;
  /* ↓ Remove padding from the width calculation */
  box-sizing: content-box;
  /* ↓ The maximum width is the maximum measure */
  max-width: var(--max-width, 70ch);
  /* ↓ Only affect horizontal margins */
  margin-left: auto;
  margin-right: auto;
  /* ↓ Apply the minimum horizontal space */
  padding-left: var(--s1);
  padding-right: var(--s1);
}

.stack {
  /* ↓ The flex context */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  /* ↓ Any extant vertical margins are removed */
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  /* ↓ Top margin is only applied to successive elements */
  margin-top: var(--space, 2.5rem);
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  /* ↓ The default value is the first point on the modular scale */
  gap: var(--gutter, var(--s1));
  /* ↓ The width at which the layout “breaks” */
  --threshold: 30rem;
}

.switcher > * {
  /* ↓ Allow children to grow */
  flex-grow: 1;
  /* ↓ Switch the layout at the --threshold */
  flex-basis: calc((var(--threshold) - 100%) * 999);
  /* // flex-basis: calc((var(--threshold) - 100%) * 999); */
}

.switcher > :nth-last-child(n+5),
.switcher > :nth-last-child(n+5) ~ * {
  /* ↓ Switch to a vertical configuration if
  there are more than 4 child elements */
  flex-basis: 100%;
}
  
form.stack > hr {
  margin-top: .7em;
}

form.stack > div > * {
  /* justify-self: center; */
  align-self: center;
  max-width: 100%;
}

form.stack span.mandate{
  white-space: nowrap;
}

.mandatet {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5em;
  max-block-size: 43em;
}

@media (max-width: 500px) {
  .mandatet {
    max-block-size: 60em;
  }
}

.mandatet > div {
  block-size: 2em;
  padding-inline: 1ch;
  color: #222;
  font-weight: 700;
}

.mandatet .PS {
  background-color: #FF00FF;
}
.mandatet .BF {
  background-color: #57a9d4;
}
.mandatet .PD {
  background-color: #09539c;
  color: white;
}
.mandatet .BASHKE {
  background-color: #e12d34;
  color: white;
}
.mandatet .NTH {
  background-color: #52bba2;
}
.mandatet .PDIU {
  background-color: #b0b75e;
}

.mandatet .PSD {
  background-color: #125d35;
  color: white;
}
.mandatet .PR {
  background-color: #d0ca2f;
}
.mandatet .LZHK {
  background-color: #323685;
  color: white;
}

.mandatet .fail {
  opacity: 0.3;
}